body {
    font-family: "Roboto",sans-serif;
    background-color: #fff;
    text-align: left;
    color: #2e2f42;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    font-family: inherit;
}


.section-title {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}

.color-accent {
    color:#4d5ae5;
}