.hero {
    background-color:  #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
 }

.button-title {
    color:#fff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #fff;
}

.button-title:hover,
.button-title:focus {
    background-color: #404bbf;
}
