.hero {
    background-color:  #2e2f42;
    padding: 188px;
    text-align: center;
}


.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
    max-width: 496px;
    margin: 0 auto 48px;
 }

.button-title {
    font-family: "Roboto", sans-serif;
    color:#fff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #fff;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: inline-block;
}


.button-title:hover,
.button-title:focus {
    background-color: #404bbf;
}
