.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #fff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

img {
    display: block;
}

.team-info {
    padding: 32px 16px;
}

.team-subtitle {
    text-align: center;
    background-color: #fff;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    color: #434455;
}